@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,709;1,709&display=swap');

div#screen_main {
	background-position: center;
	background-repeat: no-repeat;
	background-size: contain;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	position: relative;
}

div#keypad {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	position: absolute;

}

div#keypad div.row {
	display: flex;
	flex-direction: row;
	align-items: center;	
	position: absolute;
}

div.boxButton {
	background-position: center;
	background-repeat: no-repeat;
	background-size: contain;
	display: flex;
	color: white;
	transition: transform 0.1s ease-in-out filter 0.1s ease-in-out;
}

div.boxButton:active {
	transform: scale(0.9);
}

div.boxButton:hover {
	filter: brightness(1.5);
}

div.boxButton div {
	display: flex;
	justify-content: center;
	align-content: center;
	flex-direction: column;
	width: 100%;
	height: 100%;
	text-align: center;
	font-size: 4vmin;
	font-family: "Consolas", "Roboto", sans-serif;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none; 
  -moz-user-select: none;
  -ms-user-select: none; 
  user-select: none;
  cursor: pointer; 
}


div.boxLight {
	position: absolute;
	background-position: center;
	background-repeat: no-repeat;
	background-size: contain;
	border: none;
	outline: none;
	text-decoration: none;
	border-image: none;
	pointer-events: none;
}

.dialContainer{
	background-position: center;
	background-repeat: no-repeat;
	background-size: contain;
	display: flex;
	position: absolute;
	transform: (-50%, - 50px); 
	align-items: center;
	justify-content: center;
	cursor: pointer;
}

.telephoneContainer{
	background-position: center;
	background-repeat: no-repeat;
	background-size: contain;
	display: flex;
	position: absolute;
	transform: (-50%, - 50px); 
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}


.dial{
	background-position: center;
	background-repeat: no-repeat;
	background-size: contain;
	display: flex;
	pointer-events: none;
	position: absolute;
	cursor: pointer;
}

div.pivote{
	background-position: center;
	background-repeat: no-repeat;
	background-size: contain;
	display: flex;
	position: absolute;
}

.number{
	font-size:2vmin;
	color:white;
	position:absolute; 
	font-family: "Roboto", sans-serif;
	pointer-events: none;
}

.numberContainer{
	display: flex;
	position: relative;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	pointer-events: none;
}

.telephone_screen{
	display: flex;
	align-items: center;
	justify-content: center;
	overflow: hidden;
	position: absolute;
	font-family: "Roboto", sans-serif;
}

.dot-ellipsis::after {
  content: '';
  display: inline-block;
  width: 1.5em;
  text-align: left;
  animation: dots 1.2s steps(3, end) infinite;
}

@keyframes dots {
  0%   { content: ''; }
  33%  { content: '.'; }
  66%  { content: '..'; }
  100% { content: '...'; }
}

.futuristicPhoneText{
	margin: 0;
	width: 100%;
	text-align: center;
	white-space: nowrap;
}